body {
  background-color: #ffce21;
  font-family: "Lato", sans-serif;
  color: darkslategray;
}

.hide {
  display: none;
}

button {
  background-color: beige;
  border-radius: 15px;
  width: 70%;
  margin: 3px;
}

/* FEEDBACK */
.correctGuess {
  color: green;
}

.wrongGuess {
  color: red;
}

/* BANNER */
.Banner {
  width: 100%;
  text-align: center;
}

.BannerCenter {
  justify-content: center;
  display: flex;
}

.BannerFont {
  font-size: 3.5rem;
}

.headingGroup {
  justify-content: center;
  display: flex;
}

.headingText {
  font-size: 1.2rem;
}

/* START PAGE */
.sectionStart {
  width: 100%;
  text-align: center;
}

.startButton {
  margin-top: 10px;
  width: 30%;
  margin: 0% 0% 0% 35%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

/* RESULT PAGE */
.sectionResult {
  width: 100%;
  text-align: center;
}

/* SECTION 1 */
.section1 {
  width: 100%;
}

.imagesFigure {
  margin: 0% 0% 0% 15%;
  display: flex;
}

img {
  width: 40%;
  border-radius: 100%;
  justify-content: center;
  text-align: center;
  margin: 0% 0% 0% 30%;
}

/* SECTION 2 */
.section2 {
  width: 100%;
}

.namesFrame {
  margin-top: 10px;
  width: 70%;
  margin: 0% 0% 0% 15%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

#feedback {
  margin-top: 10px;
  margin-bottom: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.namesBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* TABLET SCREEN*/
@media screen and (min-width: 600px) {
  .namesFrame {
    flex-wrap: nowrap;
  }

  .startButton {
    flex-wrap: nowrap;
  }
}

/*DESKTOP*/
@media screen and (min-width: 900px) {
  .section1 {
    margin-top: 20px;
  }

  img {
    width: 25%;
    margin: 0% 0% 0% 37%;
  }
}
